[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
tavily-python = "*"
beautifulsoup4 = "*"
duckduckgo-search = "*"
aiosqlite = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.11"
